<table class="table table-striped">
    <thead>
        <tr>
            <td><a href="" ng-click="sortField='name'; sortReverse = !sortReverse">Name
                <span ng-show="sortField == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortField == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a></td>
            <td><a href="" ng-click="sortField='category.name'; sortReverse = !sortReverse">Category
                <span ng-show="sortField == 'category.name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortField == 'category.name' && sortReverse" class="fa fa-caret-up"></span>
            </a></td>
            <td><a href="" ng-click="sortField='amount'; sortReverse = !sortReverse">Amount
                <span ng-show="sortField == 'amount' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortField == 'amount' && sortReverse" class="fa fa-caret-up"></span>
            </a></td>
            <td><a href="" ng-click="sortField='sortExpenseByDate'; sortReverse = !sortReverse">Date
                <span ng-show="sortField == 'sortExpenseByDate' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortField == 'sortExpenseByDate' && sortReverse" class="fa fa-caret-up"></span>
            </a></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="expense in expenses | orderBy: sortField:sortReverse">
            <td ng-show="!edit[expense.id]">{{expense.name}}</td>
            <td ng-show="edit[expense.id]"><input type="text" class="form-control" placeholder="Name" ng-model="editExpense.name"></td>
            <td ng-show="!edit[expense.id]">{{expense.category.name}}</td>
            <td ng-show="edit[expense.id]">
                <select class="form-control" ng-model="editExpense.category" ng-options="category.name for category in categories track by category.id"></select>
            </td>
            <td ng-show="!edit[expense.id]">{{expense.amount}}</td>
            <td ng-show="edit[expense.id]"><input type="number" min="0" step="0.01" class="form-control" placeholder="Amount" ng-model="editExpense.amount"></td>
            <td>{{expense.date}}<span ng-show="!edit[expense.id]" style="cursor:pointer; margin-left: 4%" class="float-right" data={{expense.id}} ng-click="removeExpense(expense.id)">x</span><span ng-show="!edit[expense.id]" class="fa fa-edit float-right" data={{expense.id}} ng-click="editExpense.name = expense.name; editExpense.category = expense.category; editExpense.amount = expense.amount; editExpense.date = expense.date; edit[expense.id] = true"></span></div></td>
            <td ng-show="edit[expense.id]"><button class="btn btn-success" ng-click="updateExpense(expense.id); edit[expense.id] = false">Update</button></td><td ng-show="edit[expense.id]"><button class="btn btn-danger" ng-click="edit[expense.id] = false">Cancel</button></td>
        </tr>
    </tbody>  
</table>
<form class="form-inline">
    <table class="table">
        <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="Name" ng-model="newExpense.name"></td>
                <td>
                    <select placeholder="Category" class="form-control" ng-model="newExpense.category">
                        <option value="" selected disabled hidden>Category</option>
                        <option ng-repeat="category in categories" ng-value=category>{{category.name}}</option>
                    </select>
                </td>
                <td><input type="number" min="0" step="0.01" class="form-control" placeholder="Amount" ng-model="newExpense.amount"></td>
                <td><button class="btn btn-success" ng-click="addExpense(); newExpense = {}">Add</button></td>
            </tr>
        </tbody>
    </table>
</form>
<div id="expensesChart"></div>